<!-- INCLUDE ucp_header.html -->
	
	<!-- IF not S_AL_FB_ENABLED  -->
		<span>Social Login not enabled by Administrators.</span>
    <!-- ELSE -->
        <!-- IF not S_AL_WL_USER and S_AL_WL_ENABLED -->
            <table>
                <tr>
                    <th colspan="2">{L_UCP_AL_ENABLE_WINDOWSLIVE_TEXT}</th>
                </tr>
                <tr>
                    <td>
                        {S_UCP_WINDOWSLIVE_DESCRIPTION}
                    </td>
                    <td>
                        <a href="{U_AL_WL_AUTHORIZE}&mode=link"><img src="alternatelogin/images/windows_live_connect.png" alt="Windows Live Connect" /></a> 
                    </td> 
                </tr>
            </table>
        
        <!-- ENDIF -->
            
        <!-- IF not S_AL_FB_USER and S_AL_FB_ENABLED -->
            <table>
                <tr>
                    <th colspan="2">{L_UCP_AL_ENABLE_FACEBOOK_TEXT}</th>
                </tr>
                <tr>
                    <td>
                        {S_UCP_FACEBOOK_DESCRIPTION}
                    </td>
                    <td>
                        <form method="post" action="{U_ACTION}">
                            <a onclick="window.location='alternatelogin/al_fb_connect.php';" href="#" class="fb_button fb_button_medium"><span class="fb_button_text">{L_SIGN_IN}</span></a>						
                            {S_FORM_TOKEN}
                            
                        </form>
    
                    </td>
                </tr>
            </table>
            
        <!-- ENDIF -->
        
	<!-- ENDIF -->
    
    <!-- IF S_AL_FB_USER and (S_FB_WEBSITE or S_FB_LOCATION or S_FB_OCCUPATION or S_FB_BIRTHDAY or S_FB_AVATAR or S_FB_STATUS) -->
    
    <!-- IF S_AL_FB_USER and (S_FB_WEBSITE or S_FB_LOCATION or S_FB_OCCUPATION or S_FB_BIRTHDAY) -->
    <form action="{U_ACTION}" method="post" name="form_sync" id="form_sync">
    <fieldset>
        <dl> 
            <dt><label for="fb_profile_sync">{L_FB_SYNC}:</label></dt> 
            <dd><input type="checkbox" name="fb_profile_sync" id="fb_profile_sync" class="checkbox" <!-- IF S_FB_PROFILE_SYNC --> checked="checked" <!-- ENDIF --> /></dd> 
        </dl> 
        
        <!-- IF S_FB_WEBSITE -->
        <dl> 
            <dt>{L_WEBSITE}:</dt> 
            <dd>{S_FB_WEBSITE}</dd> 
        </dl> 
        <!-- ENDIF -->
        
        <!-- IF S_FB_LOCATION -->
        <dl> 
            <dt>{L_LOCATION}:</dt> 
            <dd>{S_FB_LOCATION}</dd> 
        </dl> 
        <!-- ENDIF -->
        
        <!-- IF S_FB_OCCUPATION -->
        <dl> 
            <dt>{L_OCCUPATION}:</dt> 
            <dd>{S_FB_OCCUPATION}</dd> 
        </dl> 
        <!-- ENDIF -->
        
        <!-- IF S_FB_BIRTHDAY -->
        <dl> 
            <dt>{L_BIRTHDAY}:</dt> 
            <dd>{S_FB_BIRTHDAY}</dd> 
        </dl> 
        <!-- ENDIF -->
    </fieldset>
    <!-- ENDIF -->
    
    <!-- IF S_AL_FB_USER and S_FB_AVATAR -->
    
    <fieldset>
        <dl> 
            <dt><label for="fb_avatar_sync">{L_FB_AVATAR}:</label></dt> 
            <dd><input type="checkbox" name="fb_avatar_sync" id="fb_avatar_sync" class="checkbox" <!-- IF S_FB_AVATAR_SYNC --> checked="checked" <!-- ENDIF --> /></dd> 
        </dl> 
        
        <img src="{S_FB_AVATAR}" />
    </fieldset>
    <!-- ENDIF -->
    
    <!-- IF S_AL_FB_USER and S_FB_STATUS -->
    
    <fieldset>
        <dl> 
            <dt><label for="fb_status_sync">{L_FB_SYNC}:</label></dt> 
            <dd><input type="checkbox" name="fb_status_sync" id="fb_status_sync" class="checkbox" <!-- IF S_FB_STATUS_SYNC --> checked="checked" <!-- ENDIF --> /></dd> 
        </dl> 
        
        <p>{S_FB_STATUS}</p>
    </fieldset>
    <!-- ENDIF -->
    <input type="submit" name="submit" />&nbsp;<input type="reset" name="reset" />
    
    <input type="hidden" name="form_name" id="form_name" value="fb_sync" />
    </form>
    <!-- ENDIF -->
    
    <!-- IF S_AL_WL_USER and (S_WL_LOCATION or S_WL_OCCUPATION or S_WL_BIRTH_DAY or S_WL_BIRTH_MONTH or S_WL_BIRTH_YEAR) -->
    <form action="{U_ACTION}" method="post" name="form_sync" id="form_sync">
    <fieldset>
        <dl> 
            <dt><label for="wl_profile_sync">{L_WL_SYNC}:</label></dt> 
            <dd><input type="checkbox" name="wl_profile_sync" id="wl_profile_sync" class="checkbox" <!-- IF S_WL_PROFILE_SYNC --> checked="checked" <!-- ENDIF --> /></dd> 
        </dl> 
        
        
        
        <!-- IF S_WL_LOCATION -->
        <dl> 
            <dt>{L_LOCATION}:</dt> 
            <dd>{S_WL_LOCATION}</dd> 
        </dl> 
        <!-- ENDIF -->
        
        <!-- IF S_WL_OCCUPATION -->
        <dl> 
            <dt>{L_OCCUPATION}:</dt> 
            <dd>{S_WL_OCCUPATION}</dd> 
        </dl> 
        <!-- ENDIF -->
        
        <!-- IF S_WL_BIRTHDAY -->
        <dl> 
            <dt>{L_BIRTHDAY}:</dt> 
            <dd>{S_WL_BIRTHDAY}</dd> 
        </dl> 
        <!-- ENDIF -->
    </fieldset>
    
    
    
    <input type="submit" name="submit" />&nbsp;<input type="reset" name="reset" />
    
    <input type="hidden" name="form_name" id="form_name" value="wl_sync" />
    </form>
    <!-- ENDIF -->
<!-- INCLUDE ucp_footer.html -->