<!-- INCLUDE ucp_header.html -->

<!-- IF S_MODE_WINDOWSLIVE -->
	
	
	
	<!-- IF S_AL_WL_USER -->
		<table>
			<tr>
				<th colspan="2">{L_UCP_AL_DISABLE_WINDOWSLIVE_TEXT}</th>
			</tr>
			<tr>
				<td>
					{S_UCP_WINDOWSLIVE_DESCRIPTION}
				</td>
				<td>
					<form method="post" action="{U_ACTION}">
						
					<input id="submit" name="submit" type="submit" value="{L_DISABLE_WINDOWSLIVE}" />
					{S_FORM_TOKEN}
                                        <input name="mode" id="mode" type="hidden" value="windowslive" />
					</form>
				</td>
			</tr>
		</table>	
	<!-- ELSE -->
		<table>
			<tr>
				<th colspan="2">{L_UCP_AL_ENABLE_WINDOWSLIVE_TEXT}</th>
			</tr>
			<tr>
				<td>
					{S_UCP_WINDOWSLIVE_DESCRIPTION}
				</td>
				<td>
					<a href="{U_AL_WL_AUTHORIZE}&mode=link"><img src="alternatelogin/images/windows_live_connect.png" alt="Windows Live Connect" /></a> 
				</td> 
			</tr>
		</table>
		
	<!-- ENDIF -->

<!-- ELSEIF S_MODE_FACEBOOK --> 
	
	
	
	<!-- IF S_AL_FB_USER -->
		<table>
			<tr>
				<th colspan="2">{L_UCP_AL_DISABLE_FACEBOOK_TEXT}</th>
			</tr>
			<tr>
				<td>
					{S_UCP_FACEBOOK_DESCRIPTION}
				</td>
				<td>
					<form method="post" action="{U_ACTION}">
						<input name="mode" id="mode" type="hidden" value="facebook" />
						<input id="submit" name="submit" type="submit" value="{L_DISABLE_FACEBOOK}" />
						{S_FORM_TOKEN}
						<input name="mode" id="mode" type="hidden" value="facebook" />
					</form>
				</td>
			</tr>
		</table>	
	<!-- ELSE -->
		<table>
			<tr>
				<th colspan="2">{L_UCP_AL_ENABLE_FACEBOOK_TEXT}</th>
			</tr>
			<tr>
				<td>
					{S_UCP_FACEBOOK_DESCRIPTION}
				</td>
				<td>
					<form method="post" action="{U_ACTION}">
						<a onclick="window.location='alternatelogin/al_fb_connect.php';" href="#">
							<img src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif" alt="Login with your Facebook account!" />
						</a>						
						{S_FORM_TOKEN}
						
					</form>

				</td>
			</tr>
		</table>
		
	<!-- ENDIF -->
	

<!-- ELSEIF S_MODE_TWITTER -->
	
	
	
	<!-- IF S_AL_TW_USER -->
		<table>
			<tr>
				<th colspan="2">{L_UCP_AL_DISABLE_TWITTER_TEXT}</th>
			</tr>
			<tr>
				<td>
					{S_UCP_TWITTER_DESCRIPTION}
				</td>
				<td>
					<form method="post" action="{U_ACTION}">
						<input name="mode" id="mode" type="hidden" value="twitter" />
						<input id="submit" name="submit" type="submit" value="{L_DISABLE_TWITTER}" />
						{S_FORM_TOKEN}
						<input name="mode" id="mode" type="hidden" value="twitter" />
					</form>
				</td>
			</tr>
		</table>	
	<!-- ELSE -->
		<table>
			<tr>
				<th colspan="2">{L_UCP_AL_ENABLE_TWITTER_TEXT}</th>
			</tr>
			<tr>
				<td>
					{S_UCP_TWITTER_DESCRIPTION}
				</td>
				<td>
					<a href="{U_AL_TW_REQUEST}"><img src="alternatelogin/images/sign-in-with-twitter-l.png" alt="Windows Live Connect" /></a> 

				</td>
			</tr>
		</table>
		
	<!-- ENDIF -->


<!-- ENDIF -->


<!-- INCLUDE ucp_footer.html -->