<!-- INCLUDE ucp_header.html -->
	
	
	
	<!-- IF not S_AL_WL_USER -->
		<table>
			<tr>
				<th colspan="2">{L_UCP_AL_ENABLE_WINDOWSLIVE_TEXT}</th>
			</tr>
			<tr>
				<td>
					{S_UCP_WINDOWSLIVE_DESCRIPTION}
				</td>
				<td>
					<a href="{U_AL_WL_AUTHORIZE}&mode=link"><img src="alternatelogin/images/windows_live_connect.png" alt="Windows Live Connect" /></a> 
				</td> 
			</tr>
		</table>
	
	<!-- ENDIF -->
		
	<!-- IF not S_AL_FB_USER -->
		<table>
			<tr>
				<th colspan="2">{L_UCP_AL_ENABLE_FACEBOOK_TEXT}</th>
			</tr>
			<tr>
				<td>
					{S_UCP_FACEBOOK_DESCRIPTION}
				</td>
				<td>
					<form method="post" action="{U_ACTION}">
						<a onclick="window.location='alternatelogin/al_fb_connect.php';" href="#">
							<img src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif" alt="Login with your Facebook account!" />
						</a>						
						{S_FORM_TOKEN}
						
					</form>

				</td>
			</tr>
		</table>
		
	<!-- ENDIF -->
	
	
	<!-- IF not S_AL_TW_USER -->
		<table>
			<tr>
				<th colspan="2">{L_UCP_AL_ENABLE_TWITTER_TEXT}</th>
			</tr>
			<tr>
				<td>
					{S_UCP_TWITTER_DESCRIPTION}
				</td>
				<td>
					<a href="{U_AL_TW_REQUEST}"><img src="alternatelogin/images/sign-in-with-twitter-l.png" alt="Windows Live Connect" /></a> 

				</td>
			</tr>
		</table>
		
	<!-- ENDIF -->
    
    <!-- IF not S_AL_OI_USER -->
    <link type="text/css" rel="stylesheet" href="{T_TEMPLATE_PATH}/css/openid.css" />
	<script type="text/javascript" src="{T_TEMPLATE_PATH}/js/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="{T_TEMPLATE_PATH}/js/openid-jquery.js"></script>
	<script type="text/javascript" src="{T_TEMPLATE_PATH}/js/openid-en.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			openid.init('openid_identifier');
			
		});
	</script>
        <form action="{U_AL_OI_LOGIN}" method="get" id="openid_form">
		<input type="hidden" name="action" value="verify" />
		<fieldset>
			
			<div id="openid_choice">
				
				<div id="openid_btns"></div>
			</div>
			<div id="openid_input_area">
				<input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
				<input id="openid_submit" type="submit" value="Sign-In"/>
			</div>
			
		</fieldset>
	</form>
    <!-- ENDIF -->


<!-- INCLUDE ucp_footer.html -->